<head>
  <meta charset="UTF-8" />
  <title>Library API</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <header>
    <h1>This is a Demo Library API, with a Front End Built in Handlebars.js</h1>
  </header>
  <main>
    {{{body}}}
  </main>
</body>